@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.gradient {
  background: linear-gradient(92deg, #ff8b43 2.87%, #ff7b00 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}
